body {
	background:$bg-color;
	color:$primary-color;
	font-family: Calibri, sans-serif;
	font-size:10px;
	padding:0;
	margin:0;
}
h1 {
	font-weight:normal;
}
ul {
	display:block;
	height:50px;
	margin:0;
	list-style:none;
}
a {
	color:#999;
	&:link, &:visited, &:hover {
		text-decoration:none;
	}
	&:hover {
		color:$link-hover-color;
	}
}