#navigation {
	background:$bg-color;
	border-bottom:1px solid #CCC;
	position:fixed;
	top:0;
	width:100%;
	z-index:10;
	.nav {
		height:50px;
		margin-left:auto;
		margin-right:auto;
		padding:0 50px;
	}
}
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
}
#nav-bar {
	display:block;
	font-size:1.5em;
	height:auto !important;
	overflow:visible !important;
	text-transform:uppercase;
}
.nav-item {
	display:inline;
	margin-top:18px;
	padding:0 10px;
	&:last-child {
		padding-right:0;
	}
}
.section {
	border-bottom:1px dashed #333;
	height:100%;
	min-height:700px;

	.section-content {
		background-color:rgba(150,150,150,0.4);
		margin:0 auto;
		padding:80px 10px;
		min-height:200px;
		text-align:center;
		width:700px;
	}

	&#about {
		background:url("../../imgs/about.JPG");
		background-size:cover;
		background-attachment:fixed;
		background-repeat:no-repeat;
		color:#FFF;

		.section-content {
			margin-top:50px;
		}
	}
}