<div class="section-header">Work Experience</div>
<div class="single-job">
	L2, New York, NY
	Front-End Developer
	January 2015 - Present
</div>
<div class="single-job">
	Blackstone, New York, 
	Software Engineer
	July 2012 - January 2015
</div>
<div class="single-job">
	DreamWorks Animation
	Animation Technology Intern, Glendale, CA
	June 2011 - March 2013
	Quality Assurance Intern, Redwood City, CA
	June 2010 - August 2010
</div>
<div class="single-job">
	Vitale Digital Media Lab, Philadelphia, PA
	Lab Consultant
	September 2011 - June 2012
</div>
<div class="single-job">
	Y-Not Radio, Philadelphia, PA
	DJ
	January 2011 - June 2012
</div>
<div class="section-header">Education</div>